.section-head {
	width: 100%;

}

.navbar {
	align-content: center;
	font-style: initial;
	margin: auto;
	/* height: 65px !important; */
	background-color: #057e2d !important;
	opacity: 90%;
	border-bottom: solid 1px #5efc82;
}

.navbar-toggler-right {
	background-color: #009624;
	border-radius: 10px;
}

.dropdown .dropdown-menu {
	border-radius: 0;
}


.nav-header {
	/* height: 45px; */
	width: 100% !important;
	border-top: solid 1px #4D555E;
	padding-top: 15px;
	background-color: #009624;
}

.nav-text {
	margin: auto;
	text-align: center;
}

.nav-text ul li h5 {
	font-size: 24px;
	font-style: initial;
	font-family: 'Righteous',
		cursive;
}

.list-unstyled {
	color: #ffffff;
	margin: auto;
	line-height: 2px;
}


#navbar li a:active {
	color: #050505;
	background-color: #5efc82;
}


.fas {
	margin-right: 10px;
}


.collapse .navbar-nav .nav-item a {
	text-align: center;
	align-content: center;
	color: #212121;
	font-style: initial;
	text-decoration: none;
	border-radius: 12px 12px 12px 12px;
}

.collapse .navbar-nav .nav-item a:hover {
	color: #212121;
	background-color: #8acf9b;
	transition: .5s;
	animation-delay: 0.10s;
	font-style: initial;
	text-decoration: none;
}

/* show menu name back  */
.collapse .navbar-nav .nav-item a:last-child {
	color: #212121;
	font-style: initial;
	text-decoration: none;
}

/* hide arrow */
.dropdown-toggle::after {
	content: none;
}

.dropdown:hover .dropdown-menu {
	display: block;
	color: #057e2d;
}

.dropdown .dropdown-menu {
	color: #057e2d;
	font-style: initial;
	text-decoration: none;
	display: none;
}

.dropdown-menu a {
	color: #212121;
	font-style: initial;
	text-decoration: none;
	display: block;
}

.nav-item .nav-link a {
	position: relative;
	display: inline-block;
	color: #5efc82;
	text-decoration: none;
}

.nav-item a:active {
	color: #009624;
	background-color: #5efc82 !important;
	border-radius: 30px 0px 30px 0px;
	text-decoration: none;
}

.top-header a {
	text-decoration: none;
	color: #ffffff;
	text-shadow: -1px 0 black,
		0 1px black,
		1px 0 black,
		0 -1px black;
	display: flex;
	margin: auto;
	/* margin-bottom: 15px; */
	padding: 0;
}

.top-contact a {
	font-size: 14px;
	text-decoration: none;
	color: #fff;
	padding: 0;
	margin: auto;
}

.top-sosmed a {
	text-decoration: none;
	color: #fff;
	padding: 0;
	margin-right: auto;
}


/* .section-content {

	opacity: 0;
	display: none;
	transition: opacity 1s ease-in;
} */
